tr.bom {
    td {
        padding-top: 0;
        padding-bottom: 0;
    }

    td:first-child {
        
        height: 2em;

        div {
            padding-left: 1em;
            border-left: 2px solid var(--bs-gray);
            margin-left: 1em;            
            position: relative
        }

        div::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            bottom: 100%;
            width: 0.75em;
            border: 2px solid var(--bs-gray);
            border-top: 0 none transparent;
            border-right: 0 none transparent;
            padding-top: 0.5em;
        }

        div.closing {
            border-left: 2px solid transparent;
        }
    }
}