tr.bom {
    td:first-child {
        div {
            padding-left: 4px;
            border-left: 2px solid #00f;
            margin-left: 1em;            
            position: relative
        }

        div::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            bottom: 50%;
            width: 0.75em;
            border: 2px solid #00f;
            border-top: 0 none transparent;
            border-right: 0 none transparent;
        }

        div.closing {
            border-left: 2px solid transparent;
        }
    }
}